* {
    padding: 0px;
    margin: 0px;
}

#wrapper {
    width: 100%;
    height: 100vh;
}
/* Grid container Shop now */

.grid-container-shop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px ;
}

.item-1 {
    background-image: url("source/assets/Layer 19.png");
    background-position: center;
    background-size: cover;
}

.item-2 {
    background-image: url("source/assets/Layer 21.png");
    background-position: center;
    background-size: cover;
}

.item-11 {
    background-image: url("source/assets/Layer 24.png");
    background-position: center;
    background-size: cover;
}

.item-7 {
    grid-column: 1 / span 2;
    background-image: url("source/assets/Layer 20.png");
    background-position: center;
    background-size: cover;
}

.item-12 {
    background-image: url("source/assets/Layer 26.png");
    background-position: center;
    background-size: cover;
}
.item-5 {
    grid-column: 5 / span 2;
    background-image: url("source/assets/Layer 23.png");
    background-position: center;
    background-size: cover;

}

.item-5 img {

    position: relative;
    top: 80px;
    left: 220px;
}
#shop-now-title {
    color: white;
    text-transform: uppercase;
    position: relative;
    top: 100px;
    left: 155px;

}

#cta-shop-now {
    text-decoration: none;
}

#layer {
    width: 100%;
    height: 100%;
    background-color: rgba(104, 195, 163, 0.5);
}

.vertical {
    grid-row: 1 / 3;                          /* 5 */
    grid-column: 3 / 4;
    background-image: url("source/assets/Layer 22.png");
    background-position: center;
    background-size: cover;
}

.vertical-1 {
    grid-row: 1 / 3;                          /* 5 */
    grid-column: 4 / 5;
    background-image: url("source/assets/Layer 25.png");
    background-position: center;
    background-size: cover;
}

/*blackbox css*/

#blackbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 250px;
    width: 100%;
}

#cta-button {
    border: 1px solid white;
    box-shadow: 1px red;
    width: 250px;
    height: 40px;
    color: white;
    text-align: center;
    padding: 15px 10px 0px 10px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

/*stay saddle css*/
#stay-saddle-section {
    height: 400px;
    width: 100%;


}

#stay-section-img, #form-container {
    display: flex;
    justify-content: center;

}

#stay-image {
    float: none;
    padding: 70px 0px 15px 0px;
}

#stay-section-text {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: lightgrey;
    font-size: 1.3em;

}

#form-container {
    margin-top: 30px;

}

#input-field {
    height: 40px;
    padding: 0px 40px;
    text-align: left;
    border: 1px solid lightgrey;
}

#input-field::placeholder {
    color: lightgrey;
    font-style: italic;
}

#submit-button {
    height: 43px;
    width: 90px;
    background-color: rgba(104, 195, 163, 1);
    color: white;
    border-color: rgba(104, 195, 163, 1);
    border-width: 0px;
    border-style: none;
}

/* Footer section start */

.flexbox {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 300px;
    background-color: lightgrey;

}

#yebo-style {
    font-weight: bold;
    font-size: 1.3em;
    font-style: italic;
}

.icon-rotate:hover {
    transform:rotate(180deg);
}
/* Footer section end */