* {
    padding: 0px;
    margin: 0px;
}

#wrapper {
    width: 100%;
    height: 100vh;
}
/* Grid container Shop now */

.grid-container-shop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px ;
}

.item-1 {
    background-image: url("source/assets/Layer 19.png");
    background-position: center;
    background-size: cover;
}

.item-2 {
    background-image: url("source/assets/Layer 21.png");
    background-position: center;
    background-size: cover;
}

.item-11 {
    background-image: url("source/assets/Layer 24.png");
    background-position: center;
    background-size: cover;
}

.item-7 {
    grid-column: 1 / span 2;
    background-image: url("source/assets/Layer 20.png");
    background-position: center;
    background-size: cover;
}

.item-12 {
    background-image: url("source/assets/Layer 26.png");
    background-position: center;
    background-size: cover;
}
.item-5 {
    grid-column: 5 / span 2;
    background-image: url("source/assets/Layer 23.png");
    background-position: center;
    background-size: cover;

}

.item-5 img {

    position: relative;
    top: 80px;
    left: 220px;
}
#shop-now-title {
    color: white;
    text-transform: uppercase;
    position: relative;
    top: 100px;
    left: 155px;

}

#layer {
    width: 100%;
    height: 100%;
    background-color: rgba(104, 195, 163, 0.5);
}

.vertical {
    grid-row: 1 / 3;                          /* 5 */
    grid-column: 3 / 4;
    background-image: url("source/assets/Layer 22.png");
    background-position: center;
    background-size: cover;
}

.vertical-1 {
    grid-row: 1 / 3;                          /* 5 */
    grid-column: 4 / 5;
    background-image: url("source/assets/Layer 25.png");
    background-position: center;
    background-size: cover;
}

/* Footer section start */

.flexbox {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 300px;
    background-color: lightgrey;

}

#yebo-style {
    font-weight: bold;
    font-size: 1.3em;
    font-style: italic;
}

.icon-rotate:hover {
    transform:rotate(180deg);
}
/* Footer section end */